<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Tutorial</title>
    <link rel="stylesheet" href="add.component.css" />
  </head>
  <body>
    <header class="navbar">
      <div class="logo">Library</div>
      <nav>
        <ul class="nav-links">
          <li><a href="#">Books</a></li>
          <li><a href="#">Add</a></li>
        </ul>
      </nav>
    </header>

    <main class="container">
      <h1>Add Book</h1>
      <form class="form">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            id="title"
            name="title"
            placeholder="Enter title"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            id="description"
            name="description"
            placeholder="Enter description"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="categoryid">CategoryID</label>
          <input
            id="Categoryid"
            name="Categoryid"
            placeholder="Enter category-id"
          />
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <input id="Category" name="Category" placeholder="Enter category" />
        </div>
        <div class="publishedDate">
          <label for="pubdate">PublishedDate</label>
          <input
            type="date"
            id="pubdatae"
            name="pabdate"
            placeholder="Enter Published Date"
          />
        </div>

        <div class="Author">
          <label for="author">Author</label>
          <input id="author" name="author" placeholder="Enter Author" />
        </div>
        <br />
        <button type="button" class="btn" (click)="onSubmit()">Submit</button>
      </form>
    </main>
  </body>
</html>
